html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
	--quote-font: 'Newsreader';
  font-family: 'Bitter', serif;
  font-size: 1.4rem;
  line-height: 1.3;

}
.container {
  max-width: 500px;
  margin: 0 auto;
}
div {
	
  margin-block: 3rem;
}

/*The best option*/
.quoted {
	--line-height: 1.3;
	--font-size: 150%;
	--vertical-align: -0.4rem;
	--opening-indent: 0.9rem;

 
	line-height: var(--line-height, 1.5);

	blockquote {
		margin: 0;
		position: relative;
		margin-left: var(--opening-indent, 1rem);

    &:before, &:after {
      font-family: var(--quote-font);
			line-height:0;
			vertical-align: var(--vertical-align, unset);
			font-size: var(--font-size, 100%);
    }
		&:before {
			content: '\201C';
			text-indent: calc(var(--opening-indent, 1rem) * -1);
			display: inline-block;
			
		}

		&:after {
			content: '\201D';
		}
	}

	cite {
		display: block;
		margin-top: 1rem;
		font-style: italic;
		margin-left: var(--opening-indent, 1rem);
		&:before {
			content: '\2014';
			/*I'm cheating here, ths will be part of my own new font*/
			font-family: 'Literata';
		}
		&:after {
			margin-left: var(--opening-indent, 1rem);
		}
	}
}

.vanity {
  // because of increase in blockquote size, i need more indentation
  --opening-indent: 1.3rem;

  // kill a bug in less
  color: inherit;

  blockquote {
		font-size: 150%;
		font-style: italic;
		margin-left: 0!important;
		padding-left: 0;
    &:before,
    &:after {
      font-style: normal;
    }
	}
	
	cite {
		margin-left: 0;
		font-size: 120%;
		font-style: normal;
	}	
}

q:before {
	content: '\2018';
  font-family: var(--quote-font);
}
q:after {
	content: '\2019';
  font-family: var(--quote-font);
}