
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', serif;
  font-size: 1.4rem;
  padding-bottom: 5rem;
}

.container {
  padding: 5rem;
  max-width: 500px;
  margin: 0 auto;
}

div {
  margin: 2rem 0;
}

#tools {
  width: 280px;
  z-index: 1000;
  background-color: white;
  border-right: 1px solid black;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding-top: 5rem;
  height: 100vh;
  overflow-y: auto;
}

#toggle-tools {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  font-weight: bold;
  font-size: 150%;
  z-index: 1100;
  cursor: pointer;
}

/* here is what matters */

:root {
  --quote-font: inherit;
  --line-height: 1.5;
  --body-font-size: 1.4;
}
/* this is like the main body */
.container {
  font-size: var(--body-font-size, 1.4rem);
  line-height: var(--line-height, 1.5rem);
}
/*The best option*/
.quoted {
  --font-size: 150%;
  --vertical-align: unset;
  --opening-indent: 0.9rem;

}
.quoted blockquote {
  margin: 0;
  position: relative;
  margin-left: var(--opening-indent, 1rem);
}
.quoted blockquote:before,
.quoted blockquote:after {
  font-family: var(--quote-font);
  line-height: 0;
  vertical-align: var(--vertical-align, unset);
  font-size: var(--font-size, 100%);
}

.quoted blockquote:before {
  content: '\201C';
  text-indent: calc(var(--opening-indent, 1rem) * -1);
  display: inline-block;
}

.quoted blockquote:after {
  content: '\201D';
}
.quoted cite {
  display: block;
  margin-top: 1rem;
  font-style: italic;
  margin-left: var(--opening-indent, 1rem);
}
.quoted cite:before {
  content: '\2014';
  font-family: var(--quote-font);
}

.vanity {
  /* this is tempting but not so practical */
  /* --vertical-align-multiplier: 1.5; */
  /* --openinig-indent-adder: 0.3rem; */

  --opening-indent: 1.3rem;

  /* better have an overide */
  --vertical-align: unset;
  
  /* this should be a rare case */
  line-height: calc(var(--line-height) * 1);
}
.vanity blockquote {
  font-size: 150%;
  font-style: italic;
  margin-left: 0 !important;
  padding-left: 0;
}

/* using the tempting-but-not-so-practical variable */
/* .vanity blockquote:before {
  text-indent: calc((var(--opening-indent) + var(--openinig-indent-adder) )* -1);
} */

.vanity blockquote:before,
.vanity blockquote:after {
  font-style: normal;
  /* using the tempting-but-not-so-practical variable */
  /* vertical-align: calc(var(--vertical-align, unset) * var(--vertical-align-multiplier)); */
}

.vanity cite {
  margin-left: 0;
  font-size: 120%;
  font-style: normal;
}

q:before {
  content: '\2018';
  font-family: var(--quote-font);
}
q:after {
  content: '\2019';
  font-family: var(--quote-font);
}
